<!DOCTYPE html>
<html lang="en">
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* Title *@
    <title>PZ Build - @ViewBag.Title</title>

    @* Favicon *@
    <link rel="icon" type="image/svg+xml" href="~/assets/dead-dynamic.svg" sizes="16x16 32x32 64x64" />

    @* StyleSheets *@
    <link rel="stylesheet" href="~/thirdparty/bootstrap/v5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/site/global.min.css" />

    @* Global site tag (gtag.js) - Google Analytics *@
</head>
<body>
    @* Main Content *@
    <main class="w-100 h-100 overflow-auto">
        <div class="d-flex flex-column h-100">
            @* Navigation *@
            <div class="d-flex p-2">
                <div class="d-flex flex-grow-1 align-items-center">
                    <a href="/" class="d-flex justify-content-center align-items-center me-2 text-decoration-none text-black">
                        <img src="~/assets/dead-dark.svg" alt="" width="24" height="24" class="d-inline-block align-text-top me-2">
                        <div>PZ Build</div>
                    </a>
                </div>
                @RenderSection(name: "NavigationSection", required: false)
            </div>
            @RenderBody()
        </div>
    </main>

    @* Javascript *@
    <script type="text/javascript" src="~/thirdparty/bootstrap/v5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/site/global.js"></script>

    @* Targeted Javascript *@
    @RenderSection(name: "PageScript", required: false)
</body>
</html>