<!DOCTYPE html>
<html lang="en">
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* Title *@
    <title>PZ Build - @ViewBag.Title</title>

    @* Favicon *@
    <link rel="icon" type="image/svg+xml" href="~/assets/dead-dynamic.svg" sizes="16x16 32x32 64x64" />

    @* StyleSheets *@
    <link rel="stylesheet" href="~/thirdparty/bootstrap/v5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/site/global.min.css" />

    @* Global site tag (gtag.js) - Google Analytics *@
</head>
<body>
    @* Main Content *@
    <main class="w-100 h-100 overflow-auto">
        <div class="d-flex flex-column h-100">
            @* Navigation *@
            <div class="d-flex px-4 py-3 shadow-sm bg-dark">
                <div class="d-flex align-items-center flex-grow-1 align-items-center">
                    <a href="/" class="d-flex justify-content-center align-items-center me-2 text-decoration-none text-light">
                        <img src="~/assets/dead-light.svg" alt="" width="36" height="36" class="d-inline-block align-text-top me-2">
                        <div class="fs-3">PZ Build</div>
                    </a>
                    <div class="d-flex flex-grow-1 align-items-center text-light small">Project Zomboid Character Builder</div>
                </div>
                @RenderSection(name: "NavigationSection", required: false)
            </div>
            @RenderBody()
            <div class="p-3 bg-dark">
                <div class="d-flex justify-content-center tiny text-muted">Inspired by&nbsp;<a href="http://undeniable.info/pz/CharacterPlanner.php" target="_blank">Project Zomboid Character Planner</a>&nbsp; | All Assets and Content from&nbsp;<a href="https://projectzomboid.com/" target="_blank">Project Zomboid</a>&nbsp;&amp;&nbsp;<a href="https://pzwiki.net/" target="_blank">PZwiki</a>&nbsp;|&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border rounded-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></div>
            </div>
        </div>
    </main>

    @* Alert *@
    <div id="alert" class="position-fixed fixed-top mt-3 container close">
        <div class="alert alert-warning px-3 py-2" role="alert">
             <span class="small">Alert Text</span>
        </div>
    </div>

    @* Javascript *@
    <script type="text/javascript" src="~/thirdparty/bootstrap/v5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/site/global.js"></script>

    @* Targeted Javascript *@
    @RenderSection(name: "PageScript", required: false)
</body>
</html>