@page
@{
    ViewBag.Title = "Character Builder";
}

@section NavigationSection {

}

@* Title *@
<div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden p-3 bg-darker">
    <div class="d-flex flex-grow-1 flex-row flex-wrap h-100">
        @* Occupations *@
        <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden me-3 rounded shadow-sm">
            <div class="d-flex p-2 bg-dark-green">Occupations</div>
            <div class="h-100 overflow-auto bg-dark spiffo-lost"></div>
        </div>
        @* Available Traits *@
        <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden me-3">
            @* Positive Traits *@
            <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden rounded mb-3 shadow-sm">
                <div class="d-flex flex-shrink-0 p-2 bg-dark-green">Positive Traits</div>
                <div class="h-100 overflow-auto bg-dark spiffo-crafting"></div>
            </div>
            @* Negative Traits *@
            <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden rounded shadow-sm">
                <div class="d-flex flex-shrink-0 p-2 bg-dark-green">Negative Traits</div>
                <div class="h-100 overflow-auto bg-dark spiffo-nervous"></div>
            </div>
        </div>
        <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden">
            @* Choosen Traits *@
            <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden rounded mb-3 shadow-sm">
                <div class="d-flex flex-shrink-0 p-2 bg-dark-green">Choosen Traits</div>
                <div class="h-100 overflow-auto bg-dark spiffo-running"></div>
            </div>
            @* Major Skills *@
            <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden rounded shadow-sm">
                <div class="d-flex flex-shrink-0 p-2 bg-light bg-dark-green">Major Skills</div>
                <div class="h-100 overflow-auto bg-dark spiffo-thinking"></div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center pt-3 px-3 text-light tiny">
        <div class="d-flex flex-row justify-content-end align-items-center">
            <select id="character-select" class="form-select form-select-sm me-2 w-100">
                <option disabled selected>Saved Characters</option>
            </select>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="btn btn-sm btn-success d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </div>
                <div class="btn btn-sm btn-danger d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-3">Available Points</div>
            <div class="fs-4" id="available-points">0</div>
        </div>
    </div>
</div>

@* Javascript *@
@section PageScript {

}
