@page
@{
    ViewBag.Title = "Character Builder";
}

@section NavigationSection {
<div class="d-flex flex-row justify-content-end align-items-center">
    <select id="character-select" class="form-select form-select-sm me-2 w-100">
        <option disabled selected>Saved Characters</option>
    </select>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="btn btn-outline-dark btn-sm">Save</div>
        <div class="btn btn-outline-danger btn-sm">Delete</div>
    </div>
</div>
}

@* Title *@
<div class="d-flex align-items-center justify-content-center px-3 py-2">Select Occupation and Traits</div>
<div class="d-flex flex-grow-1 flex-row flex-wrap h-100 overflow-hidden mx-2">
    @* Occupations *@
    <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden me-2">
        <div class="d-flex px-3 py-2">Occupations</div>
        <div class="h-100 overflow-auto border"></div>
    </div>
    @* Available Traits *@
    <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden me-2">
        @* Positive Traits *@
        <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden">
            <div class="d-flex flex-shrink-0 px-3 py-2">Positive Traits</div>
            <div class="h-100 overflow-auto border"></div>
        </div>
        @* Negative Traits *@
        <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden">
            <div class="d-flex flex-shrink-0 px-3 py-2">Negative Traits</div>
            <div class="h-100 overflow-auto border"></div>
        </div>
    </div>
    <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden">
        @* Choosen Traits *@
        <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden">
            <div class="d-flex flex-shrink-0 px-3 py-2">Choosen Traits</div>
            <div class="h-100 overflow-auto border"></div>
        </div>
        @* Major Skills *@
        <div class="d-flex flex-grow-1 flex-column h-100 overflow-hidden">
            <div class="d-flex flex-shrink-0 px-3 py-2">Major Skills</div>
            <div class="h-100 overflow-auto border"></div>
        </div>
    </div>
</div>
<div class="m-2 px-2 py-1">
    <div class="d-flex justify-content-center tiny text-muted">Inspired by&nbsp;<a href="http://undeniable.info/pz/CharacterPlanner.php" target="_blank">Project Zomboid Character Planner</a>&nbsp; | All Assets and Content from&nbsp;<a href="https://projectzomboid.com/" target="_blank">Project Zomboid</a>&nbsp;&amp;&nbsp;<a href="https://pzwiki.net/" target="_blank">PZwiki</a>&nbsp;|&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></div>
</div>

@* Javascript *@
@section PageScript {

}
